* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none !important;
}

html {
  font-family: "Open Sans";
  font-size: 16px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* header */

.header {
  background-color: #f6f2f2;
}

.container {
  max-width: 1250px;
  margin: 0px auto;
  padding: 15px;
  padding-bottom: 100px;
}

/* navigation */

.nav {
  width: 100%;
  background-color: #000000;
  opacity: 0.8;
}

.nav-menu {
  display: flex;
  justify-content: center;
}

.nav-menu__item {
  display: flex;
}

.nav-menu__item a {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 35px 25px;
  letter-spacing: 1.5px;
  font-size: 14px;
  transition: 0.5s;
}

.nav-menu__item a:hover {
  cursor: pointer;
  background-color: #ff0000;
}

/* header under nav-menu */

.presentation {
  display: flex;
  margin-top: 100px;
}

.state {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

.state-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  text-transform: uppercase;
  opacity: 0.8;
}

.state-title__header {
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 6px;
  opacity: 1;
}

.state-description {
  margin-top: 22px;
  line-height: 30px;
  opacity: 0.9;
}

.state-contact-us {
  background-color: #ff0000;
  color: #fff;
  border: none;
}

.state-contact-us:hover {
  border: 2px solid #ff0000;
  background-color: #fff;
  color: #ff0000;
}

.state-button {
  width: 230px;
  height: 55px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 55px;
  cursor: pointer;
}

.header-video {
  width: 50%;
}

.header-video iframe {
  width: 100%;
  height: 360px;
}

/* main */

.state-learn-more {
  border: 2px solid #ff0000;
  background-color: #fff;
  color: #ff0000;
}

.state-learn-more:hover {
  background-color: #ff0000;
  color: #fff;
  border: none;
}

.main-settings {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.settings-row {
  display: flex;
}

.settings-item {
  margin: 0 0 40px 50px;
  width: 50%;
}

.settings-item img {
  margin-bottom: 20px;
}

.settings-item h3 {
  font-size: 22px;
  opacity: 0.7;
  font-weight: 600;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
}

.settings-item p {
  opacity: 0.7;
  line-height: 25px;
}

.main-line {
  border-bottom: 2px solid #ececec;
}

/*Products*/

.products-header {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.products-description {
  text-align: center;
}

.products-description::after {
  display: block;
  position: absolute;
  content: "";
  left: 50%;
  transform: translate(-50%);
  margin-top: 30px;
  width: 130px;
  height: 3px;
  background-color: #ff0000;
}

/* product links */

.products-links {
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.products-links li {
  margin-right: 55px;
}

.products-links a {
  opacity: 0.7;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
}

.products-links li:last-child {
  margin-right: 0;
}

.products-links a::before {
  display: block;
  position: relative;
  content: "";
  height: 2px;
  width: 0;
  background-color: #ff0000;
  transition: width 0.5s ease-in-out, left 0.5s ease-in-out;
  left: 50%;
  bottom: 0;
  top: 26px;
}

.products-links a::after {
  display: block;
  position: relative;
  content: "";
  height: 2px;
  width: 0;
  background-color: #ff0000;
  transition: width 0.5s ease-in-out;
  left: 50%;
  bottom: 0;
}

.products-links a:hover::before {
  width: 50%;
  left: 0;
}
a:hover::after {
  width: 50%;
}

/* product list*/

.product-items {
  margin: 65px auto 0;
  padding: 0 15px;
}

.product-items__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.product-items__row-col {
  width: calc(100% / 12 * 3 - 30px);
  display: flex;
  flex-direction: column;
  margin: 0 10px 20px;
}

@media screen and (max-width: 860px) {
  .product-items__row-col {
    width: calc(100% / 12 * 6 - 30px);
  }
}

@media screen and (max-width: 560px) {
  .product-items__row-col {
    width: calc(100% / 12 * 12 - 30px);
  }
}

/* subscribe */

.subscribe {
  background-color: #f5f0dd;
  padding: 140px 15px;
}

.subscribe-header {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.state-title__subscribe {
  opacity: 0.7;
  font-weight: 700;
  letter-spacing: 1px;
}

.state-description__subscribe {
  opacity: 0.8;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.subscribe-email {
  width: 521px;
  height: 79px;
  background-color: #ffffff;
  color: #2c2c2c;
  letter-spacing: 0.6px;
  padding: 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin-right: 20px;
}

.subscribe-submit {
  background-color: #ff0000;
  width: 214px;
  height: 79px;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.2px;
  font-family: "Open Sans";
  cursor: pointer;
}

/* contact */

.contact {
  margin-top: 100px;
}

.contact-title-form {
  display: flex;
  width: 50%;
}

.state-description__contact::after {
  display: block;
  position: absolute;
  content: "";
  margin-top: 30px;
  width: 130px;
  height: 3px;
  background-color: #ff0000;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  padding: 0 160px;
  background-color: #313030;
  color: #fff;
}

.footer-social a {
  margin: 0 5px;
}
