* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none !important;
}

html {
  font-family: "Open Sans";
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* header */

.header {
  background-color: #f6f2f2;
}

.container {
  max-width: 1250px;
  margin: 0px auto;
  padding: 15px;
  padding-bottom: 100px;
}

/* navigation */

.nav {
  width: 100%;
  background-color: #000000;
  opacity: 0.8;
}

.nav-menu {
  display: flex;
  justify-content: center;
}

.nav-menu__item {
  display: flex;
}

.nav-menu__item a {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 35px 25px;
  letter-spacing: 1.5px;
  font-size: 14px;
  transition: 0.5s;
}

.nav-menu__item a:hover {
  cursor: pointer;
  background-color: #ff0000;
}

/* header under nav-menu */

.presentation {
  display: flex;
  margin-top: 100px;
}

.state {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

.state-title {
  font-size: 42px;
  font-weight: 700;
  line-height: 55px;
  text-transform: uppercase;
  opacity: 0.8;
}

.state-title__header {
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 6px;
  opacity: 1;
}

.state-description {
  margin-top: 30px;
  line-height: 30px;
  opacity: 0.9;
}

.state-contact-us {
  background-color: #ff0000;
  color: #fff;
  border: none;
}

.state-contact-us:hover {
  border: 2px solid #ff0000;
  background-color: #fff;
  color: #ff0000;
}

.state-button {
  width: 230px;
  height: 55px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 55px;
  cursor: pointer;
}

.header-video {
  width: 50%;
}

.header-video iframe {
  width: 100%;
  height: 360px;
}

/* main */

.state-learn-more {
  border: 2px solid #ff0000;
  background-color: #fff;
  color: #ff0000;
}

.state-learn-more:hover {
  background-color: #ff0000;
  color: #fff;
  border: none;
}

.main-settings {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.settings-row {
  display: flex;
}

.settings-item {
  margin: 0 0 40px 50px;
  width: 50%;
}

.settings-item img {
  margin-bottom: 20px;
}

.settings-item h3 {
  font-size: 22px;
  opacity: 0.7;
  font-weight: 600;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
}

.settings-item p {
  opacity: 0.7;
  line-height: 25px;
}

.main-line {
  border-bottom: 2px solid #ececec;
}
